snippet ofun "ES6 object literal function syntax" b
${1:function_name}(${2:args}) {
  ${3}
}${4}
endsnippet

snippet desc "A Mocha/Jasmine describe block" b
describe('${1:description}', function() {
  ${2}
});
endsnippet

snippet it "A Mocha/Jasmine it block" b
it('${1:should do what?}', function(){
  ${2}
});
endsnippet

snippet rcc "React createClass" b
${1:Component} = React.createClass({
  render() {
    return (
      ${2}
    );
  }
});
endsnippet
